go 1.21.2

use (
	.
	./concurrency/challenge-1
	./concurrency/dining
	./concurrency/first-example
	./concurrency/mutex
	./concurrency/mutex-2
	./concurrency/producer-consumer
	./concurrency/simple-channels
	./concurrency/sleeping-barber
)
